<%= render "shared/header" %>

  <% if user_signed_in? %>
    <div class="main-login">
      <div class="main-left">
        <img src="images/meeting.png">
        ミーティングルームを作成する
      </div>
      <div class="main-right">
        ミーティングを始める
      </div>
    </div>
  <% else %>
    <div class="main">
      <div class="main-messages">
        <p>1on1 Meetingをされる全ての方達へ</p>
        <p>少しでもお役に立てればという思いで作りました</p>
        <div class="guest-login">
          <p>登録前に試してみたい方はこちらからどうぞ</p>
          <div class="guest-login-button">
            <%= link_to "ゲストユーザーとしてログイン", "#", class: :guest__btn %>
          </div>
        </div>
      </div>
    </div>  
  <% end %>  
<%= render "shared/footer" %>
