@font-face {
  font-family: "KaushanScript";
  src: url('/assets/KaushanScript-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mplus-1p-medium";
  src: url('/assets/mplus-1p-medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}