/* ログインページ */
.login_main {
  height: calc(100vh - 130px);
  width: 100vw;
  background-image: url(/assets/meeting2.png);
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_message {
  text-align: center;
}
/*  */

/* 新規登録ページ */
.signin_main {
  height: calc(100vh - 130px);
  width: 100vw;
  background-image: url(/assets/meeting2.png);
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_message {
  text-align: center;
}
/*  */

/* viewport設定・タブレット表示時 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

/* viewport設定・スマートフォン表示時 */
@media (max)